@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 4s infinite alternate;
	stroke-width: 2;
	stroke: #4400FF;
	font-size: 40px;
}
@keyframes stroke {
	0%   {
		fill: rgba(204,17,17,0); stroke: rgba(68,0,255,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(204,17,17,0); stroke: rgba(68,0,255,1); }
	80%  {fill: rgba(204,17,17,0); stroke: rgba(68,0,255,1); stroke-width: 3; }
	100% {
		fill: rgba(204,17,17,1); stroke: rgba(68,0,255,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.wrapper {background-color: #FFFFFF};
